* {
    box-sizing: border-box;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.topnav a:hover,
a:hover {
    text-decoration: underline;
    text-decoration-color: lawngreen;
    transition-duration: 1s;
}

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #FaFaf9;
    color: #252525;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.6em;
    padding-bottom: 105px;
    position: relative;
}

h1 {
    font-weight: bold;
    line-height: 1.1em;
    font-size: 30px;
    letter-spacing: -.015em;
    margin-top: 5px;
}

h3 {
    color: #bababa;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .1em;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.project-label {
    width: 100%;
    font-size: 15px;
    text-align: center;
    position: relative;
    padding-top: 15px;
    margin: 0 auto;
}

.seventy {
    width: 100%;
}



.gallery .column {
    transition-duration: .5s;
    padding: 5px;
}

.gallery .column img:hover,
.gallery .column-full img:hover {
    transform: translate(0px, -15px);
    transition-duration: .5s;
    opacity: 20%;
}

.bold {
    font-weight: 600;
}

.italics {
    font-style: italic;
}



h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

img {
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

img:hover {
    opacity: 75%;
}

ul {
    margin-top: 20px;
}

ul li {
    font-size: 16px;
    list-style-type: disc;
    margin-left: 5%;
    padding-bottom: 10px;
    width: 80%;
}

main {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}

.home {
    max-width: 1000px;
}

.main-idea-paragraph {
    font-size: 20px;
    font-weight: 400;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.column-container,
.column-full {
    margin: 0;
    padding: 0;
}

.column-container {
    display: flex;
    flex-flow: row;
}


.column {
    display: block;
    width: 50%;
    margin-top: 50px;
}

.column p {
    width: 100%;
}

.paragraph-spacer {
    padding: 3em;
}

.div-with-colorful-bg {
    /* background-color: #151515; */
    /* color: #fefefe; */
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0 auto;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .75);
    /* Black w/ opacity */
}

.modal>img {
    display: flex;
    left: 2.5%;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    width: 95%;
}

.modal>img:hover {
    opacity: 100%;
}

.project-icon {
    margin: 0 auto;
    width: 100%;
}

.project-icon:hover {
    opacity: 100%;
    cursor: auto;
}

.subheading {
    font-size: 15px;
    color: #ccc;
    font-family: 'Inter', sans-serif;
    letter-spacing: .025em;
    margin-top: 20px;
    text-transform: uppercase;
}

.topnav {
    background: #fefefe;
    border-bottom: 1px solid #ededed;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 20px;
    padding-bottom: 20px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.topnav a {
    text-decoration: none;
    color: black;
}

.topnav .brand {
    font-family: grad, serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -.025em;
}

.vertical-align-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.view-demo-btn {
    display: flex;
    border: 1px solid #151515;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 8px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.view-demo-btn:hover {
    background-color: #f0f094;
}

header,
footer {
    display: block;
    height: 0px;
}

@media all and (max-width: 800px) {
    body {
        line-height: 1.55em;
        margin-left: 10px;
        margin-right: 10px;
    }

    img {
        width: 100% !important;
    }

    main {
        margin: 0 auto;
        width: 95%;
    }

    .column-container,
    #page {
        flex-flow: column;
    }

    .column-container .column {
        display: block;
        width: 100% !important;
    }

    .column div {
        width: 100% !important;
        padding: 0 !important;
        margin: 0;
    }

    .div-with-colorful-bg {
        padding: 2em;
    }

    .topnav {
        background-color: #fff;
        display: flex;
        margin: 0;
        justify-content: space-between;
        padding: 0;
        padding: 20px;
    }
}

.float-right {
    float: right;
}

.float-right a {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}