* {
    box-sizing: border-box;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.topnav a:hover,
a:hover {
    text-decoration: underline;
    text-decoration-color: #281ee9;
    transition-duration: 1s;
}

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: rgba(248, 248, 248, 0.5);
    color: #252525;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.6em;
    padding-bottom: 105px;
    position: relative;
}

figure {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

figcaption {
    text-align: center;
    color: rgba(120, 120, 120, .95);
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

h1 {
    font-weight: bold;
    line-height: 1.1em;
    font-size: 30px;
    letter-spacing: -.015em;
    margin-top: 5px;
}

h3 {
    color: rgba(75, 107, 255, 0.75);
    font-family: 'Inconsolata', monospace;
    font-size: 15.5px;
    font-weight: 300;
    letter-spacing: .12em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.seventy {
    width: 100%;
}



.gallery .column {
    padding: 5px;
}

.gallery .column-full img {
    opacity: 100%;
    transition-duration: .5s;
    margin-bottom: 20px;
}

.bold {
    font-weight: 600;
}

.italics {
    font-style: italic;
}



h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

img {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

ul {
    margin-top: 20px;
}

ul li {
    font-size: 16px;
    list-style-type: disc;
    margin-left: 5%;
    padding-bottom: 10px;
    width: 80%;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.home {
    max-width: 950px;
}

.main-idea-paragraph {
    font-size: 20px;
    font-weight: 400;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.column-container,
.column-full {
    margin: 0;
    padding: 0;
}

.column-container {
    display: flex;
    flex-flow: row;
}


.column {
    display: block;
    width: 50%;
}

.column p {
    width: 100%;
}

.paragraph-spacer {
    padding: 3em;
}

.div-with-colorful-bg {
    /* background-color: #151515; */
    /* color: #fefefe; */
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0 auto;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .75);
    /* Black w/ opacity */
}

.modal>img {
    display: flex;
    left: 2.5%;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    width: 95%;
}

.modal>img:hover {
    opacity: 100%;
}

.project-icon {
    margin: 0 auto;
    width: 100%;
}

.project-img {
    position: relative;
    transition-duration: .5s;
}

.project-img:hover {
    transform: translate(0px, -15px);
    transition-duration: .5s;
}

.project-img:hover .overlay {
    opacity: 1;

}

.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .75s ease;
    width: 100%;
}

.project-description {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    color: rgb(88, 117, 248);
}

.project-label {
    text-align: center;
    font-size: 2.25em;
    font-weight: 800;
    margin-bottom: 10px;
}

.botanicals {
    background-color: rgba(17, 17, 17, .95);
    color: #EFEFEF;
}

.hideous-animals {
    background-color: rgba(245, 245, 245, .9);
    color: #111;
}


.landscape-palettes {
    background-color: rgba(239, 239, 239, .96);
    color: #111;
}

.faces-tool,
.ilearn-landing {
    background-color: rgba(243, 232, 242, .9);
    color: #111;
}

.rigor-internship {
    background-color: rgb(48, 22, 143);
    color: #FEFEFE;
}

.visual-synth {
    background-color: rgb(13, 164, 180);
    color: #EFEFEF;
}

.illustrations {
    background-color: rgb(72, 69, 99);
    color: #EFEFEF;
}


.small-text {
    font-size: 16px;
}


.subheading {
    font-size: 15px;
    color: #ccc;
    font-family: 'Inter', sans-serif;
    letter-spacing: .025em;
    margin-top: 20px;
    text-transform: uppercase;
}

.topnav {
    background: #fefefe;
    border-bottom: 1px solid rgba(51, 82, 221, .15);
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 20px;
    padding-bottom: 20px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.topnav a {
    text-decoration: none;
    color: black;
}

.topnav .brand {
    font-family: grad, serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -.025em;
}

.vertical-align-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.view-demo-btn {
    display: flex;
    border: 1px solid #151515;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 8px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.view-demo-btn:hover {
    background-color: #f0f094;
}

header,
footer {
    display: block;
    height: 0px;
}

@media all and (max-width: 800px) {
    body {
        line-height: 1.55em;
    }

    img {
        width: 100% !important;
    }

    main {
        margin: 0 auto;
        width: 90%;
    }

    .column-container,
    #page {
        flex-flow: column;
    }

    .column-container .column {
        display: block;
        width: 100% !important;
    }

    .column div {
        width: 100% !important;
        padding: 0 !important;
        margin: 0;
    }

    .div-with-colorful-bg {
        padding: 2em;
    }

    .topnav {
        background-color: #fff;
        display: flex;
        margin: 0;
        justify-content: space-between;
        padding: 0;
        padding: 20px;
    }

    .project-label {
        font-size: 1.5em;
    }
}

.filter-container {
    background: rgba(239, 239, 239, .4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
}

.filter-container .filter-link-container {
    width: 150px;
    text-align: center;
}

.filter-link-container {
    border-radius: 15px;
    color: #3352dd;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 15px;
}

.filter-link-container:hover {
    opacity: .5;
}

.active {
    background-color: #ededed;
    font-weight: 800;
    transition-duration: .5s;
}

.active:hover {
    opacity: 1;
}


.float-right {
    float: right;
}

.float-right a {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

#hero-img-botanicals {
    background-image: url("./imgs/flowers/banner-img.png");
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-img-landscape-palettes {
    background-image: url("./imgs/palette-generator/banner-img.png");
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-img-vector-faces {
    background-image: url("./imgs/vector-faces-tool/banner-img.png");
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}