 html {
     scroll-behavior: smooth;
 }

 body {
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 2fr;
     color: #373737;
     font-family: calluna, serif;
     font-size: 17px;
     font-weight: 300;
     height: 100%;
     width: 100%;
 }

 nav ul {
     list-style: none;
 }

 nav ul li a {
     align-items: center;
     color: #efefef;
     display: flex;
     /* font-family: calluna, serif; */
     font-size: 17px;
     justify-content: center;
     padding-bottom: 25px;
     text-align: center;
     text-decoration: none;
     width: 100%;
     transition: 1s;
 }

 nav ul li a.current {
     animation-name: floating;
     animation-duration: 2.5s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
     color: #131313;
     font-weight: bold;
     font-size: 22px;
     transition: 1s;
 }

 nav ul li a:hover {
     color: blue;
     transition: .5s;
 }

 main {
     overflow: scroll;
     height: 100vh;
     scroll-snap-type: mandatory;
     scroll-snap-points-y: repeat(100vh);
     scroll-snap-type: y mandatory;
 }

 section {
     scroll-snap-align: start;
     display: flex;
     height: auto;
     padding: 10px;
 }

 footer {
     grid-column: 1 / 3;
     padding: 1rem 1rem;
 }

 @media (max-width: 800px) {
     body {
         display: flex;
     }

     nav {
         display: none;
     }

     section {
         height: auto;
         width: 100%;
         padding: 0px;
         padding-bottom: 5px;
         padding-top: 5px;
     }
 }

 @keyframes floating {
     from {
         transform: translate(0, 0px);
     }

     65% {
         transform: translate(0, 15px);
     }

     to {
         transform: translate(0, -0px);
     }
 }

 .name {
     color: #131313;
     font-size: 25px;
     font-weight: 600;
     text-transform: uppercase;
 }

 .project-subtitle {
     display: none;
     color: #c9c9c9;
     font-size: 18px;
     font-weight: 400;
     margin: 0px;
 }

 .project-thumbnail {
     width: 100%;
     height: auto;
 }

 .project-title {
     display: none;
     font-family: bebas-neue-by-fontfabric, serif;
     font-size: 26px;
     font-weight: bold;
     letter-spacing: .04em;
     margin-top: 1.5rem;
     margin-bottom: .2rem;
 }

 .vertical-align {
     display: grid;
     align-items: center;
     height: 100vh;
     position: sticky;
     top: 0;
 }