html {
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.05rem;
    line-height: 1.8em;
}

figure {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

figcaption {
    color: #757575;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #131313;
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: .35em;
}

h2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: .5em;
}

.tagline {
    font-family: 'Inter', sans-serif;
    color: #575757;
    font-size: 22px;
    font-style: oblique;
    font-weight: 300;
}

.hero-img {
    margin: 0 auto;
    margin-top: 5em;
    width: 65%;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    margin-bottom: 1.05em;
}

.hero-tagline {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.inline {
    color: rgb(187, 29, 29);
    font-weight: 800;
    text-decoration-style: wavy;
}

img,
video {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

p {
    color: #353535;
    font-weight: 300;
    margin-bottom: 1rem;
}

ol,
ul {
    font-size: 16px;
    padding: 0;
}

ol li {
    margin-bottom: 16px;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: none;
}

.bold {
    font-weight: 800;
}

.italics {
    font-style: oblique;
}

.main {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
}

.homepage {
    margin-top: 50vh;
    width: 70%;
    z-index: 0;
}

.bulleted-list,
ol {
    padding-left: 5%;
}

.bulleted-list {
    font-size: 16px;
    font-weight: 300;
    list-style-type: disc;
}

.bulleted-list li {
    margin-bottom: 5px;
}

.carousel-container {
    margin: 0 auto;
}

.carousel-container .buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.carousel-container .buttons-container button {
    background: #6d4161;
    border: none;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    width: 80px;
    height: 50px;
}

.float-right {
    float: right;
    font-size: 15px;
}

.grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 20% 75%;
}

.italic {
    font-style: oblique;
}

.row {
    display: flex;
}

.col {
    align-items: center;
    width: 50%;
}

.paragraph-spacer {
    height: 4em;
}

.paragraph-spacer-sm {
    height: 2em;
}

#side-navigation {
    font-size: .85em;
    line-height: 1.5em;
    position: sticky;
    margin-top: .5rem;
    top: 4.5rem;
}

#scrollDown {
    display: flex;
    font-size: 30px;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    top: 550px;
    width: 100%;
    z-index: 999;
}

#scrollDown div {
    color: black;
    display: flex;
    align-items: center;
    background: white;
    width: 60px;
    height: 60px;
    justify-content: center;
    border-radius: 50%;
}

a#scrollDown {
    color: black;
}

#side-navigation li {
    border-left: 5px solid #eee;
    display: flex;
    padding-bottom: 10px;
}


#side-navigation li a {
    color: #757575;
    margin-left: 20px;
    padding-top: 8px;
    text-decoration: none;
}

#side-navigation li.active {
    font-weight: 600;
    border-left: 5px solid #333;
}

#side-navigation li.active a {
    color: #333;
}

.skills {
    font-size: .88em;
    font-weight: bold;
    margin: 0 auto;
    width: 30%;
}

.skills ul {
    font-size: 1em;
    font-weight: 300;
}

.subheading {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#top-navigation {
    background: #fff;
    font-size: 1em;
    font-weight: 600;
    position: fixed;
    top: 0;
    transition: top 0.5s;
    width: 100%;
    z-index: 999;
}

/* Style the navbar links */
#top-navigation a {
    color: #111;
    float: left;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#top-navigation a:hover {
    background-color: #efefef;
    color: black;
}


table,
th,
td {
    background-color: rgb(251, 249, 249);
    border: 3px solid #fff;
    border-collapse: collapse;
    color: #111;
    font-size: .88em;
    line-height: 1.5em;
}

th,
td {
    padding: 1.5em;
}

th {
    background-color: #2365f5;
    color: #efefef;
    font-weight: 600;
    text-align: left;
}

.mono {
    color: #757575;
    font-family: 'Inconsolata', monospace;
}

.game-name {
    font-weight: 600;
}

.video-view-subtitle {
    color: #9a9a9a;
    font-weight: 600;
}

.project-icon {
    cursor: pointer;
    position: relative;
    transition-duration: .5s;
}


.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    opacity: 0;
    padding: 0px;
    position: absolute;
    top: 0;
    transition: .75s ease;
    width: 100%;
    z-index: 999;
}

#myCanvas {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition-duration: .5s;
}

.hero-overlay {
    cursor: crosshair;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .30);
}

.hero-overlay h1{
    font-family: 'Noto Serif', serif;
    font-size: 2.9rem;
    line-height: 1em;
    font-weight: 800;
}

.wrapper {
    position: relative;
    height: 400px;
}

.overlay p {
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 2.95rem;
    font-weight: 800;
    text-align: center;
}

.overlay h3 {
    color: black;
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

.project-icon:hover {
    transform: translate(0px, -5px);
    transition-duration: .5s;
}

.project-icon:hover .overlay {
    opacity: 1;
}

#botanicals {
    background-image: linear-gradient(#9b3f3f, #7d487a);
}

#botanicals p {
    color: #eaeaea;
}

#botanicals h3 {
    color: #F8F055;
}

#character-designer-ui {
    background-image: linear-gradient(#F26D6D, #ffd500);
}

#character-designer-ui p {
    color: rgb(255, 255, 255);
}

#character-designer-ui h3 {
    color: #5c5cf5;
}

#landscapes-palettes {
    background-image: linear-gradient(#63af68, #6c52d6);
}

#landscapes-palettes p {
    color: #e6f5e7;
}

#landscapes-palettes h3 {
    color: #daf894;
}



#botanicals-process {
    background: rgb(5, 18, 24);
    font-size: 1.15rem;
    line-height: 1.5em;
    margin: 0 auto;
    padding-left: 18%;
    padding-right: 18%;
}

#botanicals-process h1,
#botanicals-process h2,
#botanicals-process h3,
#botanicals-process h4 {
    color: #fbabca;
    margin: 0 auto;
    text-align: center;
}

#botanicals-process h3 {
    color: #efefef;
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    text-align: center;
}

#botanicals-process p {
    color: #dfdfdf;
    font-family: 'Inconsolata', serif;
    font-weight: 100;
    margin: 0 auto;
    width: 80%;
}

#botanicals-process figcaption {
    color: rgb(202, 48, 48);
    font-family: 'Inconsolata';
    font-size: 1.15rem;
    line-height: 1.5rem;
    width: 80%;
}


@media only screen and (max-width: 800px) {
    canvas {
        display: none; 
    }

    .grid {
        display: block;
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .main {
        width: 90%;
    }

    .row {
        display: block !important;
        width: 100% !important;
    }

    .col {
        width: 100% !important;
    }

    #side-navigation {
        display: none;
    }
}