html {
  overflow-y: auto;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #f9f7fa;
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

hr {
  border: 0.5px solid rgb(0, 0, 0, 1);
  margin: 1rem 0rem;
}

ol {
  font-size: 0.88rem;
  margin-left: 1rem;
}

ul {
  list-style-type: disc;
  margin: 0 auto;
}

ul li {
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}

/* Spacers */

.top-spacer {
  height: 2.5rem;
}

/* Top Navigation */

.nav {
  background-color: #f9f7fa;
  border-bottom: 1px solid rgba(0, 0, 0, 15);
}

.nav,
.nav-link a:visited {
  align-items: center;
  color: #111;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-link {
  margin-left: 2rem;
}

.nav-link a {
  text-decoration: none;
}

.nav-link > .selected {
  text-decoration: underline !important;
}

.nav-home {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.nav-left {
  display: flex;
  font-family: "Inter", serif;
  margin: 1rem 0rem;
  font-weight: 500;
}

.nav-right {
  align-items: center;
  display: flex;
  font-size: 0.88rem;
  font-weight: 400;
  justify-content: flex-end;
  margin-right: 2rem;
}

/* Homepage */

.project-card {
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.project-card img {
  border: 1px solid black;
}

.project-card h2,
.project-card h3,
.project-card p {
  margin: 0.5rem 0px;
  margin-left: 2rem;
}

.project-card h2:hover {
  background-color: rgba(235, 233, 237, 0.88);
  transition-duration: 0.25s;
}

.homepage-links-container {
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  display: flex;
  padding: 12px 24px;
  width: 90%;
  margin: 0 auto;
  margin: 1rem 0px;
}

/* Case Studies */

.vertical-spacing {
  margin: 8rem 0px;
}

.vertical-spacing-sm {
  margin: 6rem 0px;
}

.case-study-divider {
  background-color: #fcfcfc;
}

.body-content-container,
.case-study-divider .container {
  padding: 4rem 0;
  width: 72%;
  margin: 0 auto;
}

.narrow-textarea {
  width: 48%;
  margin: 0 auto;
}

.my-role {
  display: block;
}

.my-role div {
  margin-bottom: 1rem;
}

.my-role p {
  margin: 0.25rem 0px;
}

/* Containers */

.row {
  display: flex;
  align-items: top;
  width: 100%;
}

.hideable {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px;
}
.narrow-80,
.narrow {
  width: 70% !important;
  margin: 0 auto;
}

.col {
  display: flex;
  width: 100%;
}

.left {
  margin-right: 1rem;
}

.right {
  margin-left: 1rem;
}

.row .xxxl {
  align-items: center;
  width: 98%;
}

.row .xxl {
  width: 87.5%;
}

.row .xl {
  width: 77.5%;
}

.row .lg {
  width: 68%;
}

.row .sm {
  width: 32%;
}

.row .xs {
  width: 22.5%;
}

.row .xxs {
  width: 12.5%;
}

.row .xxxs {
  align-items: center;
  width: 1%;
  background-color: #111;
  opacity: 5%;
  margin-right: 24px;
}

p {
  margin-bottom: 1rem;
}

.smaller-text {
  font-size: 0.95rem;
}

.caption-text {
  font-weight: 300;
  opacity: 80%;
  font-size: 0.8rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  margin-bottom: 0.15rem;
}

h1 {
  font-size: 2em;
  font-family: "Domine", serif;
  font-weight: 600;
}

h2 {
  font-family: "Domine", serif;
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  color: #555454;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 500;
  font-size: 0.95rem;
}

h5 {
  font-size: 0.95rem;
  font-weight: 600;
}

h6 {
  font-size: 0.95rem;
}

.bold {
  font-weight: 600;
}

.center-text {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Link Styles */
a,
a:visited {
  padding: 4px 4px;
  color: #1071f9;
  text-decoration: none;
}

a:hover {
  color: #0a57c2;
  background-color: #c5dcfc;
}

/* Image Containers & Images */

.hero-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.hero-container {
  width: 80%;
  margin: 0 auto;
}

.img-container {
  display: block;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.icon-container {
  margin-bottom: 2rem;
}

.img-container img {
  width: 100%;
}

.icon-container img {
  width: 56px;
  height: 56px;
}

/* Modal */

.modal-target {
  cursor: pointer;
  transition: 0.3s;
}

.modal-target:hover {
  cursor: pointer;
  scale: 1.005;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1200px;
  margin-top: 16px;
}

.modal-content,
.modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.25s;
  animation-name: zoom;
  animation-duration: 0.25s;
}

.modal-close {
  cursor: pointer;
  color: #ffffff;
  left: 97%;
  font-size: 32px;
  position: absolute;
}

.modal-close:hover {
  opacity: 50%;
}

#logo {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  margin-left: 2rem;
}

video {
  width: 80%;
}
